/*Custom styles*/

body{
	 background-image: url("/img/pawprints.png")
}

.sidebar {
	background-color: #343a40;
	height: 100vh;
}

.sidebar-menu ul li {
	padding: 10px;
	border-bottom: 1px solid white;
}

.sidebar-menu ul li a {
	color: white;
}

.sidebar-menu ul li a:hover {
	color: #343a40;
	background-color: white;
}

.error {
	min-height: 100vh;
	background-repeat: no-repeat;
	color: white;
}

.error h3 {
	background: #007db8;
	padding: 40px;
}

.error .lead {
	color: grey;
}

.loginControl {
	align: center;
}

.loginControl .row {
	margin: 10px;
}

.add-button {
	padding: 10px;
}


.jumbotron{
	grid-area: jumbotron;
}

.logobox{
	grid-area: logobox;
	max-width: 200px;
}

#content{
	display: grid; /* Using the grid */
  	grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
    "jumbotron"
    "logobox"
}

@media (min-width: 576px) {
  #content {
    display: grid;
    grid-template-columns: 3fr 1fr; /* the first column is 1 unit (fraction), the second column is 3 units */
    grid-template-areas: /* stack the components how you want them to appear in the columns */
      "jumbotron  logobox" /* stretch header across both columns at the top */
  }
}

